In [1]:
import pandas as pd 
import numpy as np

In [2]:
file_path = "shark_attack_confirmed.csv"
df = pd.read_csv(file_path)
df

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,Age,Injury,Fatal (Y/N),Time,Species
0,0,2020.02.05,5-Feb-20,2020,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,NaN,"No injury, but paddleboard bitten",N,09h40,Tiger
1,1,2020.01.30.R,Reported 30-Jan-2020,2020,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,24,PROVOKED INCIDENT Scratches to left wrist,N,NaN,Unknown
2,2,2020.01.17,17-Jan-20,2020,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,59,Laceration ot left ankle and foot,N,08h00,Unknown
3,3,2020.01.16,16-Jan-20,2020,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,13,Minor injury to lower leg,N,20h30,Broad_Nose_Seven_Gill
4,4,2020.01.13,13-Jan-20,2020,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,26,Lacerations to foot,N,14h33,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,6457,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,NaN,FATAL,Y,NaN,Unknown
5931,6458,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,NaN,FATAL,Y,NaN,Unknown
5932,6459,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,NaN,FATAL,Y,NaN,Unknown
5933,6460,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,NaN,FATAL,Y,NaN,Unknown
5934,6461,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,Unknown

In [3]:
df['Country_Count'] = df.groupby('Country')['Country'].transform('count')
df.head()
#unique_countries = pd.DataFrame(df.Country.value_counts())
#unique_countries
#country_counts = df.Country.value_counts().tolist()
#country_counts
#Top five USA, AUSTRALIA, SOUTH AFRICA, PAPUA NEW GUINEA, NEW ZEALAND

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,Age,Injury,Fatal (Y/N),Time,Species,Country_Count
0,0,2020.02.05,5-Feb-20,2020,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,NaN,"No injury, but paddleboard bitten",N,09h40,Tiger,2119.0
1,1,2020.01.30.R,Reported 30-Jan-2020,2020,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,24,PROVOKED INCIDENT Scratches to left wrist,N,NaN,Unknown,110.0
2,2,2020.01.17,17-Jan-20,2020,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,59,Laceration ot left ankle and foot,N,08h00,Unknown,1264.0
3,3,2020.01.16,16-Jan-20,2020,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,13,Minor injury to lower leg,N,20h30,Broad_Nose_Seven_Gill,122.0
4,4,2020.01.13,13-Jan-20,2020,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,26,Lacerations to foot,N,14h33,Unknown,2119.0

In [24]:
df2 = df.loc[(df.Country_Count > 0)]
df2

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,Age,Injury,Fatal (Y/N),Time,Species,Country_Count
0,0,2020.02.05,5-Feb-20,2020,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,NaN,"No injury, but paddleboard bitten",N,09h40,Tiger,2119.0
1,1,2020.01.30.R,Reported 30-Jan-2020,2020,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,24,PROVOKED INCIDENT Scratches to left wrist,N,NaN,Unknown,110.0
2,2,2020.01.17,17-Jan-20,2020,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,59,Laceration ot left ankle and foot,N,08h00,Unknown,1264.0
3,3,2020.01.16,16-Jan-20,2020,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,13,Minor injury to lower leg,N,20h30,Broad_Nose_Seven_Gill,122.0
4,4,2020.01.13,13-Jan-20,2020,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,26,Lacerations to foot,N,14h33,Unknown,2119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,6457,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,NaN,FATAL,Y,NaN,Unknown,1264.0
5931,6458,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,NaN,FATAL,Y,NaN,Unknown,1264.0
5932,6459,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,NaN,FATAL,Y,NaN,Unknown,2119.0
5933,6460,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,NaN,FATAL,Y,NaN,Unknown,31.0
5934,6461,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,Unknown,1.0

In [25]:
df2.Activity.value_counts()
df2['Activity_Count'] = df.groupby('Activity')['Activity'].transform('count')
df2.Activity.value_counts()

C:\Users\bartl\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Surfing                                984
Swimming                               834
Fishing                                437
Spearfishing                           328
Bathing                                152
                                      ...
Free diving, collecting shells           1
Scuba diving & U/W photography           1
Fishing from paddleski                   1
Crabbing (spearing crabs)                1
Wreck of large double sailing canoe      1
Name: Activity, Length: 1387, dtype: int64

In [6]:
df3 = df2.loc[(df2.Activity_Count > 100)]
#df3

In [7]:
dumb_df = pd.DataFrame(pd.get_dummies(df3['Fatal (Y/N)']))
#dumb_df

In [8]:
df4 = df3.join(dumb_df)
#df4

In [9]:
dumb_df2 = pd.DataFrame(pd.get_dummies(df4['Activity']))
dumb_df2

,Bathing,Diving,Fishing,Spearfishing,Standing,Surfing,Swimming,Wading
2,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0
4,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,1,0
11,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
5927,0,0,1,0,0,0,0,0
5928,0,0,1,0,0,0,0,0
5929,0,0,0,0,0,0,1,0
5930,0,1,0,0,0,0,0,0
5932,0,0,0,0,0,0,1,0

In [10]:
# Activities and Fatality encoded at this point
df5 = df4.join(dumb_df2)
df5

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,UNKNOWN,Y,Bathing,Diving,Fishing,Spearfishing,Standing,Surfing,Swimming,Wading
2,2,2020.01.17,17-Jan-20,2020,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,0,0,0,0,0,0,0,1,0,0
3,3,2020.01.16,16-Jan-20,2020,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,0,0,0,0,0,0,0,1,0,0
4,4,2020.01.13,13-Jan-20,2020,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,0,0,0,0,0,0,0,1,0,0
6,6,2020.01.07,7-Jan-20,2020,Unprovoked,AUSTRALIA,Queensland,North West Island,Swimming,Miah Holmes,...,0,0,0,0,0,0,0,0,1,0
11,12,2019.12.26.b,26-Dec-19,2019,Unprovoked,PAPUA NEW GUINEA,Central Province,Ragelapara reef,Spearfishing,Kala Gerea,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5927,6454,ND.0008,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,...,0,1,0,0,1,0,0,0,0,0
5928,6455,ND.0007,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,...,0,1,0,0,1,0,0,0,0,0
5929,6456,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,NaN,Swimming,Arab boy,...,0,1,0,0,0,0,0,0,1,0
5930,6457,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,...,0,1,0,1,0,0,0,0,0,0
5932,6459,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,...,0,1,0,0,0,0,0,0,1,0

In [11]:
species_list = ["Sand_Tiger", "Tiger", "Lemon", "Broad_Nose_Seven_Gill", "Cookiecutter", "Spinner", "Tawny_Nurse",
               "Porbeagle", "Bull", "Unspecified_Wobbegong", "Copper", "Shortfin_Mako", "Longfin_Mako", "Unspecified_Mako",
               "Shovelnose", "Dusky_Reef", "Galapagos_Reef", "Sandbar", "Horn", "Silky", "Goblin", "Whale", "Unspecified_Thresher",
               "Port_Jackson", "Great_Blue", "Silvertip_Reef", "Salmon", "Caribbean_Reef", "Soupfin", "Unspecified_Angel",
               "Sandy_Dogfish","Basking", "Unspecified_Hammerhead", "Unspecified_Spurdog", "Catshark", "Starry_Smoothhound",
               "Leopard", "Oceanic_Whitetip", "Nurse", "Great_White", "Whitetip_Reef", "Unspecified_Carpet", "Unspecified_Ground",
               "Ganges", "Grey_Reef", "Unspecified_Reef", "Blacktip_Reef", "Oceanic_Blacktip", "Unknown"]

In [12]:
df6 = df5.copy()
for row in df6.Species:
    if row not in species_list:
        row = 'Unknown'
        
list(df6.Species.unique())

['Unknown',
 'Broad_Nose_Seven_Gill',
 'Lemon',
 'Great_White',
 'Oceanic_Blacktip',
 'Nurse',
 'Sand_Tiger',
 'Bull',
 'Cookiecutter',
 'Grey_Reef',
 'Tiger',
 'Unspecified_Wobbegong',
 'Unspecified_Mako',
 'Copper',
 'Unspecified_Reef',
 'Spinner',
 'Salmon',
 'Sandy_Dogfish',
 'Unspecified_Hammerhead',
 'Caribbean_Reef',
 'Sandbar',
 'Whitetip_Reef',
 'Galapagos_Reef',
 'Port_Jackson',
 'Great_Blue',
 'Unspecified_Thresher',
 'Unspecified_Angel',
 'Blacktip_Reef',
 'Shortfin_Mako',
 'Dusky_Reef',
 'Whale',
 'Oceanic_Whitetip',
 'Unspecified_Carpet',
 'Shovelnose',
 'Unspecified_Ground']

In [17]:
df7['Species_Count'] = df7.groupby('Species')['Species'].transform('count')
#df7.Species_Count.value_counts()

1651    1651
269      269
84        84
83        83
75        75
53        53
15        45
36        36
34        34
12        24
14        14
3         12
11        11
5         10
10        10
8          8
1          7
7          7
2          6
4          4
Name: Species_Count, dtype: int64

In [21]:
#Removing species unknown and low repeats
df8 = df7.loc[(df7.Species_Count < 280)] #(df7.Species_Count >= 10)&
#list(df8.Species.unique())
df8.Species.value_counts()

Great_White               269
Tiger                      84
Bull                       83
Sand_Tiger                 75
Copper                     53
Unspecified_Wobbegong      36
Oceanic_Blacktip           34
Broad_Nose_Seven_Gill      15
Unspecified_Hammerhead     15
Nurse                      15
Unspecified_Mako           14
Unspecified_Reef           12
Spinner                    12
Lemon                      11
Great_Blue                 10
Caribbean_Reef              8
Shortfin_Mako               7
Dusky_Reef                  5
Sandbar                     5
Sandy_Dogfish               4
Grey_Reef                   3
Blacktip_Reef               3
Galapagos_Reef              3
Cookiecutter                3
Unspecified_Thresher        2
Whitetip_Reef               2
Salmon                      2
Port_Jackson                1
Unspecified_Angel           1
Whale                       1
Oceanic_Whitetip            1
Unspecified_Carpet          1
Shovelnose                  1
Unspecified_Ground          1
Name: Species, dtype: int64

In [14]:
#dumb_df3 = pd.DataFrame(pd.get_dummies(df6['Species']))

#df7 = df6.join(dumb_df3)
#df7