In [2]:
import pandas as pd 
import numpy as np
import re

In [3]:
#Importing sharks data--using file that was cleaned and only contains confirmed shark attacks 
# From kaggle https://www.kaggle.com/datasets/thedevastator/shark-attacks-the-risks-of-coastal-water-activit
# FromShark Research Institute's website https://www.sharkattackfile.net/incidentlog.htm
file_path = "shark_attack_confirmed.csv"
df = pd.read_csv(file_path)
df

#Create df with only country column to work with 
columns = ["Case Number", "Country"]
country_df = df.loc[:, columns]
country_df

       Case Number             Country
0       2020.02.05                 USA
1     2020.01.30.R             BAHAMAS
2       2020.01.17           AUSTRALIA
3       2020.01.16         NEW ZEALAND
4       2020.01.13                 USA
...            ...                 ...
5930       ND.0005           AUSTRALIA
5931       ND.0004           AUSTRALIA
5932       ND.0003                 USA
5933       ND.0002              PANAMA
5934       ND.0001  CEYLON (SRI LANKA)

[5935 rows x 2 columns]

In [10]:
counts_df = country_df['Country'].value_counts()
pd.set_option('display.max_rows', None)
counts_df

USA                                      2119
AUSTRALIA                                1264
SOUTH AFRICA                              522
PAPUA NEW GUINEA                          132
NEW ZEALAND                               122
BAHAMAS                                   110
BRAZIL                                    103
MEXICO                                     85
FIJI                                       62
ITALY                                      60
REUNION                                    60
PHILIPPINES                                58
NEW CALEDONIA                              55
CUBA                                       44
EGYPT                                      41
MOZAMBIQUE                                 40
INDIA                                      39
SPAIN                                      35
PANAMA                                     31
JAPAN                                      30
SOLOMON ISLANDS                            30
IRAN                                       29
CROATIA                                    27
FRENCH POLYNESIA                           26
JAMAICA                                    24
HONG KONG                                  24
INDONESIA                                  22
ENGLAND                                    21
GREECE                                     19
PACIFIC OCEAN                              18
TONGA                                      16
VIETNAM                                    15
COSTA RICA                                 15
ATLANTIC OCEAN                             15
VANUATU                                    14
BERMUDA                                    13
IRAQ                                       12
SRI LANKA                                  12
SOUTH ATLANTIC OCEAN                       12
FRANCE                                     11
CANADA                                     11
MARSHALL ISLANDS                           11
TURKEY                                     11
VENEZUELA                                  11
KENYA                                      10
NEW GUINEA                                 10
MAURITIUS                                  10
UNITED KINGDOM                             10
SENEGAL                                     9
CHINA                                       9
THAILAND                                    9
TAIWAN                                      9
ECUADOR                                     9
COLUMBIA                                    8
YEMEN                                       8
SAMOA                                       8
SOUTH KOREA                                 8
SEYCHELLES                                  8
CHILE                                       8
SCOTLAND                                    8
SIERRA LEONE                                8
CARIBBEAN SEA                               7
TANZANIA                                    7
MADAGASCAR                                  7
NICARAGUA                                   7
DOMINICAN REPUBLIC                          7
ISRAEL                                      7
OKINAWA                                     6
NORTH PACIFIC OCEAN                         6
KIRIBATI                                    6
SINGAPORE                                   6
LIBYA                                       6
NEW BRITAIN                                 6
BARBADOS                                    6
REUNION ISLAND                              5
INDIAN OCEAN                                5
SOMALIA                                     5
MALTA                                       5
AZORES                                      5
TURKS & CAICOS                              5
SAUDI ARABIA                                5
MID ATLANTIC OCEAN                          5
PALAU                                       4
BURMA                                       4
GRENADA                                     4
EL SALVADOR                                 4
PERSIAN GULF                                4
SUDAN                                       4
NORTH ATLANTIC OCEAN                        4
NIGERIA                                     4
URUGUAY                                     4
RUSSIA                                      4
MALAYSIA                                    4
PORTUGAL                                    3
CEYLON                                      3
LEBANON                                     3
MARTINIQUE                                  3
TRINIDAD & TOBAGO                           3
GUAM                                        3
HONDURAS                                    3
AMERICAN SAMOA                              3
MICRONESIA                                  3
GUYANA                                      3
TUNISIA                                     3
LIBERIA                                     2
UNITED ARAB EMIRATES                        2
MONTENEGRO                                  2
Fiji                                        2
GUINEA                                      2
TOBAGO                                      2
ST HELENA, British overseas territory       2
SOUTHWEST PACIFIC OCEAN                     2
WEST INDIES                                 2
SOUTH PACIFIC OCEAN                         2
NAMIBIA                                     2
BELIZE                                      2
HAITI                                       2
MEDITERRANEAN SEA                           2
CENTRAL PACIFIC                             2
CYPRUS                                      1
OCEAN                                       1
CRETE                                       1
COLOMBIA                                    1
MONACO                                      1
PARAGUAY                                    1
FALKLAND ISLANDS                            1
SAN DOMINGO                                 1
BRITISH NEW GUINEA                          1
KUWAIT                                      1
IRELAND                                     1
NORTHERN ARABIAN SEA                        1
GEORGIA                                     1
ANTIGUA                                     1
ASIA?                                       1
RED SEA?                                    1
KOREA                                       1
BAHREIN                                     1
DJIBOUTI                                    1
Between PORTUGAL & INDIA                    1
ROATAN                                      1
SWEDEN                                      1
GREENLAND                                   1
GHANA                                       1
TUVALU                                      1
TASMAN SEA                                  1
Coast of AFRICA                             1
ALGERIA                                     1
AFRICA                                      1
PERU                                        1
COOK ISLANDS                                1
CAPE VERDE                                  1
ANDAMAN ISLANDS                             1
INDIAN OCEAN?                               1
EQUATORIAL GUINEA / CAMEROON                1
JAVA                                        1
MALDIVES                                    1
NORWAY                                      1
FEDERATED STATES OF MICRONESIA              1
ST. MARTIN                                  1
RED SEA                                     1
JOHNSTON ISLAND                             1
DIEGO GARCIA                                1
PALESTINIAN TERRITORIES                     1
UNITED ARAB EMIRATES (UAE)                  1
BRITISH ISLES                               1
WESTERN SAMOA                               1
ADMIRALTY ISLANDS                           1
GULF OF ADEN                                1
BANGLADESH                                  1
SOUTH CHINA SEA                             1
Sierra Leone                                1
ST. MAARTIN                                 1
GRAND CAYMAN                                1
Unknown                                     1
ANGOLA                                      1
PUERTO RICO                                 1
BRITISH WEST INDIES                         1
ICELAND                                     1
NETHERLANDS ANTILLES                        1
CURACAO                                     1
SLOVENIA                                    1
MID-PACIFC OCEAN                            1
BAY OF BENGAL                               1
SOLOMON ISLANDS / VANUATU                   1
EGYPT / ISRAEL                              1
IRAN / IRAQ                                 1
NORTHERN MARIANA ISLANDS                    1
ARGENTINA                                   1
ARUBA                                       1
SUDAN?                                      1
THE BALKANS                                 1
MAYOTTE                                     1
GABON                                       1
ANDAMAN / NICOBAR ISLANDAS                  1
MALDIVE ISLANDS                             1
NORTH SEA                                   1
RED SEA / INDIAN OCEAN                      1
CEYLON (SRI LANKA)                          1
Name: Country, dtype: int64

In [17]:
#Top five USA, AUSTRALIA, SOUTH AFRICA, PAPUA NEW GUINEA, NEW ZEALAND 
# Add 3 letter country code labels 
country_df.loc[country_df['Country'] == 'USA', 'Country'] = 'USA'
country_df.loc[country_df['Country'] == 'AUSTRALIA', 'Country'] = 'AUS'
country_df.loc[country_df['Country'] == 'SOUTH AFRICA', 'Country'] = 'ZAF'
country_df.loc[country_df['Country'] == 'PAPUA NEW GUINEA', 'Country'] = 'PNG'
country_df.loc[country_df['Country'] == 'NEW ZEALAND', 'Country'] = 'NZL'
country_df.loc[country_df['Country'] == 'BAHAMAS', 'Country'] = 'BHS'
country_df.loc[country_df['Country'] == 'MEXICO', 'Country'] = 'MEX'
country_df.loc[country_df['Country'] == 'FIGI', 'Country'] = 'FGI'
country_df.loc[country_df['Country'] == 'ITALY', 'Country'] = 'ITA'
country_df.loc[country_df['Country'] == 'REUNION', 'Country'] = 'REU'
country_df.loc[country_df['Country'] == 'PHILIPPINES', 'Country'] = 'PHL'
country_df.loc[country_df['Country'] == 'NEW CALEDONIA', 'Country'] = 'NCL'
country_df.loc[country_df['Country'] == 'CUBA', 'Country'] = 'CUB'
country_df.loc[country_df['Country'] == 'EGYPT', 'Country'] = 'EGY'
country_df.loc[country_df['Country'] == 'MOZAMBIQUE', 'Country'] = 'MOZ'
country_df.loc[country_df['Country'] == 'INDIA', 'Country'] = 'IND'
country_df.loc[country_df['Country'] == 'SPAIN', 'Country'] = 'ESP'
country_df.loc[country_df['Country'] == 'PANAMA', 'Country'] = 'PAN'
country_df.loc[country_df['Country'] == 'JAPAN', 'Country'] = 'JPN'
country_df.loc[country_df['Country'] == 'SOLOMON ISLANDS', 'Country'] = 'SLB'
country_df.loc[country_df['Country'] == 'IRAN', 'Country'] = 'IRN'
country_df.loc[country_df['Country'] == 'CROATIA', 'Country'] = 'HRV'
country_df.loc[country_df['Country'] == 'FRENCH POLYNESIA', 'Country'] = 'PYF'
country_df.loc[country_df['Country'] == 'JAMAICA', 'Country'] = 'JAM'
country_df.loc[country_df['Country'] == 'HONG KONG', 'Country'] = 'HKG'
country_df.loc[country_df['Country'] == 'INDONESIA', 'Country'] = 'IDN'
country_df.loc[country_df['Country'] == 'ENGLAND', 'Country'] = 'ENG'

In [22]:
country_labels = ['USA', 'AUS', 'ZAF','PNG', 'NZL', 'BHS', 'MEX', 'FGI', 'ITA', 'REU',
                  'PHL','NCL', 'CUB', 'EGY', 'MOZ', 'IND', 'ESP', 'PAN', 'JPN', 'SLB',
                  'IRN', 'HRV','PYF', 'JAM', 'HKG', 'IDN', 'ENG'                 
                 ]
# Change the remaining names countries to "OTH" for other  
for row in country_df.Country:
    if row not in country_labels:
        country_df['Country'].replace(to_replace=row, value='OTH', inplace=True)
list(country_df.Country.unique())

['USA',
 'BHS',
 'AUS',
 'NZL',
 'OTH',
 'NCL',
 'PNG',
 'ZAF',
 'MEX',
 'PYF',
 'EGY',
 'CUB',
 'ESP',
 'SLB',
 'JPN',
 'REU',
 'PHL',
 'IDN',
 'MOZ',
 'JAM',
 'ITA',
 'PAN',
 'HRV',
 'ENG',
 'IND',
 'HKG',
 'IRN']

In [23]:
country_df.to_csv("location.csv", index=False)