In [2]:
import pandas as pd 
import numpy as np

In [4]:
file_path = "shark_attack_confirmed.csv"
df = pd.read_csv(file_path)
df

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Unnamed: 9,Age,Injury,Fatal (Y/N),Time,Species
0,0,2020.02.05,5-Feb-20,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,NaN,NaN,"No injury, but paddleboard bitten",N,09h40,Tiger
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,F,24,PROVOKED INCIDENT Scratches to left wrist,N,NaN,Unknown
2,2,2020.01.17,17-Jan-20,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,M,59,Laceration ot left ankle and foot,N,08h00,Unknown
3,3,2020.01.16,16-Jan-20,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,F,13,Minor injury to lower leg,N,20h30,Broad_Nose_Seven_Gill
4,4,2020.01.13,13-Jan-20,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,M,26,Lacerations to foot,N,14h33,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,6457,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,NaN,FATAL,Y,NaN,Unknown
5931,6458,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,NaN,FATAL,Y,NaN,Unknown
5932,6459,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,NaN,FATAL,Y,NaN,Unknown
5933,6460,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,NaN,NaN,FATAL,Y,NaN,Unknown
5934,6461,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,NaN,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,Unknown

In [9]:
df.Country.value_counts()
#Top five USA, AUSTRALIA, SOUTH AFRICA, PAPUA NEW GUINEA, NEW ZEALAND

USA                           2119
AUSTRALIA                     1264
SOUTH AFRICA                   522
PAPUA NEW GUINEA               132
NEW ZEALAND                    122
                              ...
ANDAMAN / NICOBAR ISLANDAS       1
MALDIVE ISLANDS                  1
NORTH SEA                        1
RED SEA / INDIAN OCEAN           1
CEYLON (SRI LANKA)               1
Name: Country, Length: 198, dtype: int64

In [10]:
df.Activity.value_counts()

Surfing                                                        985
Swimming                                                       841
Fishing                                                        437
Spearfishing                                                   328
Bathing                                                        154
                                                              ...
Air disaster                                                     1
Motor launch Baby Princesa capsized with 22 people on board      1
Wreck of the 1689-ton Portuguese coaster Angoche                 1
Hookah diving (submerged)                                        1
Wreck of large double sailing canoe                              1
Name: Activity, Length: 1405, dtype: int64